# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# Pytest cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Streamlit cache
.streamlit/

# Pinned files
pip-log.txt

# OneDrive temp files
~$*
